@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

.main-container{
    font-family: Poppins;
}
.main-header{
    font-weight: 800;
}
.secondary-header{
    font-weight: 600;
}
.label-header{
    font-weight: 600;
}
.left-login{
    background-image: url(../../assets/images/loginImage.jpg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.custom-form-text{
    font-size: 12px !important;
}
.custom-form-text-check{
    font-size: 14px !important;
    margin-right: 3px;
}

.custom_margin_left{
    margin-left: 8px;
}

.custom-stepup-line{
    position: relative;
    -moz-box-shadow: 0px 3px 14px 6px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 3px 14px 6px rgba(0,0,0,.14);
    box-shadow: 0px 3px 14px 6px rgba(0,0,0,0.14);
    width: 156px;
    height: 4px;
    top: 36%;
    left: 18%;
    z-index: 1;
}
.custom-stepup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.custom-stepup-item {
    background-color: #0979f9;
    text-decoration: none;
    list-style: none;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #ffffff;
    -moz-box-shadow: 0px 3px 14px 6px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 3px 14px 6px rgba(0,0,0,.14);
    box-shadow: 0px 3px 14px 6px rgba(0,0,0,0.14);
    z-index: 2;
}


@media only screen and (max-width: 1024px)  {
    .left-login{
        display: none;
    }
}

@media only screen and (max-width: 800px)  {
    .left-login{
        display: none;
    }
    .custom-stepup-line{
        width: 126px;
        left: 21%;
    }
}

@media only screen and (max-width: 768px)  {
    .left-login{
        display: none;
    }
}

@media only screen and (max-width: 600px)  {
    .left-login{
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .left-login{
        display: none;
    }
    .custom-stepup-line{
        width: 86px;
        left: 31%;
    }
}